<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.themelove.androidlearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:name=".base.TLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:appComponentFactory=""
        tools:replace="android:appComponentFactory,label,allowBackup">
        <!--android:theme="@style/AppDefault">-->
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppDefault">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity

            android:name=".demo.appbar.ui.ToolBarActivity"
            android:theme="@style/AppDefault" />
        <activity
            android:name=".demo.progressbar.ProgressBarTestActivity"
            android:theme="@style/AppDefault"/>
        <activity
            android:name=".demo.media.AudioActivity"
            android:theme="@style/AppDefault"/>
        <activity android:name=".demo.pagertab.PagerTabStripActivity"  android:theme="@style/AppDefault" />
        <activity android:name=".demo.tablayout.TabLayoutActivity"  android:theme="@style/AppDefault"/>
        <activity android:name=".demo.createshortcut.DynamicCreateShortCutActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".demo.linkjump2apppage.LinkJump2AppPageActivity"  android:theme="@style/AppDefault">
            <intent-filter>
                <data android:scheme="themelove"
                      android:host="test"
                      android:path="/case/linkjump2apppage/LinkJump2AppPageActivity"
                      android:port="8080"
                    />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

            </intent-filter>
        </activity>
        <activity android:name=".demo.touchevent.TouchEventActivity" android:theme="@style/AppDefault"/>
        <activity android:name=".demo.dagger2.Dagger2Activity" android:theme="@style/AppDefault" />
        <activity android:name=".demo.dagger2.test.TestDagger2Activity" android:theme="@style/AppDefault"/>
        <activity android:name=".demo.pageindicator.PageIndicatorTestActivity" android:theme="@style/AppDefault"/>
        <activity android:name=".demo.retrofit.RetrofitTestActivity" android:theme="@style/AppThemeLove"/>
        <activity android:name=".demo.media.VideoViewActivity" android:theme="@style/AppThemeLove"/>
        <activity android:name=".demo.DialogTestActivity" android:theme="@style/AppThemeLove" android:screenOrientation="sensor"/>
        <activity android:name=".demo.media.CleanGuideTwoActivity" android:theme="@style/AppThemeLove"/>
        <meta-data
            android:name="ThemeLove"
            android:value="${ThemeLoveChannel}" />

    </application>

</manifest>